@font-face {
  font-family: 'EvilEmpire';
  src: local('EvilEmpire'), local('EvilEmpire-4BBVK'), url('./assets/fonts/EvilEmpire.ttf') format('truetype');
}

@font-face {
  font-family: 'SpaceGrotesk Regular';
  src: local('SpaceGrotesk-Regular'), local('FontsFree-Net-SpaceGrotesk-Regular'), url('./assets/fonts/SpaceGrotesk-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SpaceGrotesk Bold';
  src: local('SpaceGrotesk-Bold'), local('FontsFree-Net-SpaceGrotesk-Bold'), url('./assets/fonts/SpaceGrotesk-Bold.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

:root {
  scrollbar-width: thin;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'SpaceGrotesk Regular', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background: #0A0908;
}

#root {
  width: 100%;
  height: 100%;
}

body::-webkit-scrollbar {
  width: 5px;
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: #22333B;
  border-radius: 3px;
}

body::-webkit-scrollbar-track {
  background: #0A0908;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input, textarea, button {
  font-family: 'SpaceGrotesk Regular', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  border: none;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

p, span, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.noSelect {
  user-drag: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}